MONGO_URI=mongodb+srv://robertjensen84_db_user:AhxniW9BHLE3iolq@cluster0.ebq2xbv.mongodb.net/production?retryWrites=true&w=majority
JWT_SECRET=super_hemlig_jwt_nyckel_123
BACKEND_URL=https://web-site-backend-jaaf.onrender.com
FRONTEND_URL=https://website-frontend-omega-liart.vercel.app/
#Local testing
#BACKEND_URL=http://localhost:3000


ADMIN_URL=https://web-site-admin-cyan.vercel.app/
GOOGLE_CLIENT_ID=dummy_google_client_id
GOOGLE_CLIENT_SECRET=dummy_google_client_secret
